* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

#app {
  max-width: 980px;
  margin: 0 auto;
}

nav {
  max-width: 980px;
  margin: 0 auto;
  background-color: #79addc;
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
nav .logo {
  width: 100px;
  height: 50px;
  background-color: yellow;
}
nav .link a {
  text-decoration: none;
  margin-left: 20px;
}

footer {
  height: 100px;
  background-color: #79addc;
}
footer .footer-content {
  max-width: 980px;
  margin: 0 auto;
  background-color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about {
  margin-top: 110px;
  margin-bottom: 180px;
}
.about .about-header h1 {
  margin-bottom: 2px;
}
.about .about-header .border-bottom {
  width: 97px;
  height: 2px;
  background-color: black;
  margin-bottom: 16px;
}
.about .about-client-quotes {
  margin-top: 107px;
}
.about .client-box {
  max-width: 772px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  margin-bottom: 50px;
}
.about .client-box .client-image {
  width: 360px;
  height: 150px;
  overflow: hidden;
  margin-right: 21px;
}
.about .client-box img {
  width: 100%;
}
.about .client-box .client-quote {
  max-width: 440px;
  margin-bottom: 20px;
}
.about .client-box .client-name {
  position: absolute;
  bottom: 0;
  right: 0;
}